header{
	background-image: url(image/4.jpg);
	height:100vh;
	background-size: cover;
    background-position: center;
}



.topnav {
	background-color: transparent;
	overflow: hidden;
  }
  
  
  .topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }

img{
	max-width:normal;
}


.box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:black;
}
.tbl h2{
    color:black;
    
}
.tbl{
    color: palevioletred;
}
.tbl th{
    color: black
}
.tbl td{
    color: blueviolet;
    font-size: 200%;
}
table, th, td {
    border: 2px solid black;
    top: 40%;
    left:20%
}